@model PMS.DTOs.ChangePasswordDTO

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

@if (TempData["Msg"] != null) { 
    <span class="alert-primary">@TempData["Msg"]</span>
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Change Password</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="password" id="Password" name="Password" value="@(Model != null && Model.Password != null ? Model.Password : "")" class="form-control" />
                <span class="text-danger">@Html.ValidationMessage("Password")</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="password" id="NewPassword" name="NewPassword" value="@(Model != null && Model.NewPassword != null ? Model.NewPassword : "")" class="form-control" />
                <span class="text-danger">@Html.ValidationMessage("NewPassword")</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" value="@(Model != null && Model.ConfirmPassword != null ? Model.ConfirmPassword : "")" class="form-control" />
                <span class="text-danger">@Html.ValidationMessage("ConfirmPassword")</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


